   
           <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                <hr>
                                    <h4 class="card-title">Acompanhamento de Batidas</h4>
                                <hr>    
                                 <%= form_tag pages_acomp_ponto_index_path do %>
                                   <div class="row">
                                    <div class="col-3">
                                       <label>Codigo da Pessoa :</label>
                                       <%= text_field_tag :cod_pessoa , "", class: 'form-control' %>
                                     </div>
                                     <div class="col-3">
                                       <label>Informe uma Data Inicial :</label>
                                       <%= date_field_tag :data_ini , "", class: 'form-control' %>
                                     </div>
                                     <div class="col-3">
                                       <label>Informe uma Data Final : </label>
                                       <%= date_field_tag :data_fim , "", class: 'form-control'%> 
                                     </div>
                                    
                                   </div>
                                      <div class="col-3">
                                       <%= submit_tag "Enviar" , class: 'btn btn-primary'%> 
                                      </div>
                                 <% end %>
                                       
                                </div>
                                   
                                <div class="card-body table-responsive">
                                 <hr>
                                    <h4 class="card-title">Detalhamento</h4>
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Batidas</th>
                                            <th>Horario</th>
                                            <th>Data</th>
                                        </thead>
                                        <% if @result.present? %>
                                         <% @result.each do |acompponto| %> 
                                        <tbody>
                                            <tr>
                                                <th><%= acompponto.try(:BATIDAS).try(:content)%></th>
                                                <th><%= acompponto.try(:HORARIO).try(:content) %></th>
                                                <th><%= acompponto.try(:DATA).try(:content)%></th>
                                            </tr>

                                            <% end %>           
                                         <% end %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                          
        </div>
    </div>

