
    
           
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title" style="color:grey;">Meus Dados</h3>
                                    
                                </div>
                                <div class="card-body ">
                                  <%= link_to pages_dice_index_path , class: 'btn btn-primary btn-icon-split' do %>
                                      <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-cog"></i>
                                          </span>
                                          <span class="text"> Dados </span>
                                  <% end %>
                                  <hr>
                                        <a href="#" class="btn btn-light btn-icon-split">
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-cog"></i>
                                          </span>
                                          <span class="text">Alteração Cadastral </span>
                                        </a> 
                                
                                    <hr>


                                      
                                  
                                </div>
                            </div>
                        </div>
  
                  

                         <br>
                         
                        <div class="col-md-4">
                     <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title" style="color:grey;">Pagamentos</h3>
                                   
                                </div>
                                <div class="card-body ">
                                  <%= link_to 'http://contracheque.pintos.com.br', class: 'btn btn-primary btn-icon-split' do %>
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-wrench"></i>
                                          </span>
                                          <span class="text"> Contra-Cheque </span>

                                  <% end %> 
                                  <hr>
                                  <%= link_to pages_welcome_index_path, class: 'btn btn-light btn-icon-split' do %>
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-wrench"></i>
                                          </span>
                                          <span class="text"> Informe de Rendimentos </span>

                                  <% end %> 
                                  <hr>
                                    <%= link_to pages_money_index_path, class: 'btn btn-primary btn-icon-split' do %>
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-wrench"></i>
                                          </span>
                                          <span class="text"> Histórico Salarial </span>

                                  <% end %> 
                                    <hr>
                                  
                                </div>
                            </div>
                        </div>
                         
                      <hr>   

                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h3 class="card-title" style="color:grey;">Relatórios Gerenciais</h3>
                                    
                                </div>
                                <div class="card-body ">
                                  <%= link_to pages_welcome_index_path, class: 'btn btn-primary btn-icon-split' do %>
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-folder"></i>
                                          </span>
                                          <span class="text"> Avaliações de Desempenho </span>

                                  <% end %> 
                                  <hr>

                                  <%= link_to pages_welcome_index_path, class: 'btn btn-primary btn-icon-split' do %>
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-folder"></i>
                                          </span>
                                          <span class="text"> Bloquear Acessos</span>

                                  <% end %> 

                                   <hr>
                                 
                                  <%= link_to pages_welcome_index_path, class: 'btn btn-primary btn-icon-split' do %>
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-folder"></i>
                                          </span>
                                          <span class="text"> Consultar Abertura de Avaliações </span>

                                  <% end %> 
                                 
                                  
                                    <hr>

                                  <%= link_to pages_aprovar_batida_index_path, class: 'btn btn-primary btn-icon-split' do %>
                                          <span class="icon text-white-50">
                                            <i class="fas fa-fw fa-folder"></i>
                                          </span>
                                          <span class="text"> Subordinados </span>

                                  <% end %> 
                                 
                                  
                                    <hr>  
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                  
                  

         