

    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header"> 
                      <hr>
                        <h4 class="card-title">Consulte seu Contra-Cheque </h4>
                      <hr> 
                    </div>
                    <div class="card-body">
                        <%= form_tag pages_payment_index_path do %>
                             <div class="row-center">

                                <div class="col-center">
                                    <label> CHAPA: </label>
                                        <%#= text_field_tag :chapa , "", class: 'form-control', placeholder: "#{@user.try(:chapa)}" , readonly: true%>
                                       <input class="form-control" type="text" placeholder="<%= @user.try(:chapa) %>" readonly> 
                                            </div>
                                               <div class="col-center">
                                         <label> MÊS: </label>
                                         <%#= text_field_tag :mes , "", class: 'form-control', placeholder: "EX. MÊS = 01 "%> 
                                            <%= select_tag :mes, options_for_select([
                                            "01",
                                            "02",
                                            "03",
                                            "04",
                                            "05",
                                            "06",
                                            "07",
                                            "08",
                                            "09"
                                           ], 
                                            :mes.try(:mes).try(:content)), class: 'form-control' %>

                                            </div>
                                               <div class="col-center">
                                        <label> ANO:  </label>
                                        <%#= text_field_tag :ano , "", class: 'form-control', placeholder: "EX. ANO= 2020 "%> 
                                              
                                              <%= select_tag :ano, options_for_select([
                                            "2020"
                                           ], 
                                            :ano.try(:ano).try(:content)), class: 'form-control' %>
                                              
                                              </div>
                                        <hr>      
                                               <div class="col-center">
      
                                        <%= submit_tag "Enviar" , class: 'btn btn-primary' , data: { disable_with: ' Gerando Contra-Cheque ... AGUARDE ! ' } %>
                                            </div>     
                                            </div>
                                        <% end %>
                                </div>
                          </div>
                     </div>
                 </div>
             </div>

<div class="container">  
            
    <% if @results.present? %>
 
      <iframe src="data:application/pdf;base64,<%=@results%>" height="842" width="842"></iframe>

     <% end %> 
</div>

