   
           <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                <hr>
                                    <h4 class="card-title">Alterações de Salários</h4>
                                <hr>    
                         
                                </div>
                                   
                                <div class="card-body table-responsive">
                               
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Data</th>
                                            <th>Chapa</th>
                                            <th>Nome</th>
                                            <th>Data Mudança</th>
                                            <th>Salario</th>
                                            <th>Motivo</th>
                                            <th>Descrição</th>
                                            <th>Percentual</th>
                                            <th>Data Referencia</th>
                                        </thead>
                                    
                                        <% if @result.present? %>
                                         <% @result.each do |money| %> 
                                        <tbody>
                                            <tr>
                                                 <th><%= money.try(:DTMUDANCACHAR).try(:content)%></th>
                                                 <th><%= money.try(:CHAPA).try(:content)%></th>
                                                 <th><%= money.try(:NOME).try(:content) %></th>
                                                 <th><%= money.try(:DTMUDANCA).try(:content) %></th>
                                                 <th><%= money.try(:SALARIO).try(:content) %></th>
                                                 <th><%= money.try(:MOTIVO).try(:content)%></th>
                                                 <th><%= money.try(:DESCRICAO).try(:content) %></th>
                                                 <th><%= money.try(:PERCENTAPLICADO).try(:content) %></th>
                                                 <th><%= money.try(:DATADEREFERENCIA).try(:content) %></th>
                                            </tr>

                                            <% end %>           
                                         <% end %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                          
        </div>
    </div>
